<nav>
    <ul>
        <li>
            <a href="/trips">Путешествия</a>
        </li>
        <li>
            <a href="/customers">Клиенты</a>
        </li>
        <li>
            <a href="/locations">Направления</a>
        </li>
    </ul>
</nav>